<div class="container">

  <nav>
    <ul class="nav_list">
      <li class="nav__item">
        <a class="nav_link" href="/products/">Classes</a>
      </li>
      <li class="nav__item">
        <a class="nav_link" href="/realtimeproducts">Post</a>
      </li>
      <li class="nav__item">
        <a class="nav_link" href="/chat">Help</a>
      </li>
      <li class="nav__item">
        <a class="nav_link" href="/cart?cid={{user.cart}}">Cart</a>
      </li>
      <li class="nav__item">
        <a class="nav_link" href="/api/session/logout">Logout</a>
      </li>
    </ul>
  </nav>
  <div class="box">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/productyesfitness.appspot.com/o/user.png?alt=media&token=827ecd04-6291-4789-a985-856e9d3935b5"
      alt="User Image"
      class="user-image"
    />
    <div class="user-details">
      <h1>{{user.firstName}} {{user.lastName}}</h1>
      <p>Email: {{user.email}}</p>
      <div class="additional-info">
        <h2>Age: {{user.age}}</h2>
        <h2>Role: {{user.role}}</h2>
      </div>
    </div>
  </div>
</div>